<%- include('partials/header') %> <% function submit(song) { ; } %>

<h2>Error with Database Entry</h2>

<p>Error: <%= err %></p>

<p>
  <a href="/"><button class="btn btn-primary">Return Home</button></a>
</p>

<%- include('partials/footer') %>
