<%- include('partials/header') %>

<h2>Welcome to Lyri<i class="fas fa-search text-drop"></i>uery</h2>

<%- include('partials/search') %>

<p class="my-3">
  Need a specific lyric for your Instagram story or Facebook image caption? Find
  all occurrences of a specific phrase from your favorite artist's catalog, or
  add their catalog to the database!
</p>

<img class="image mx-auto mt-5 d-block" src="/img/headphones.jpg" />

<p class="my-3">
  If you're feeling lucky, try your hand at a LyriQuiz! Match randomly chosen
  lyrics to your favorite artist's songs and see how high you can score!
</p>

<%- include('partials/quizform') %> <%- include('partials/footer') %>
