:root {
  --primary-clr: #ce1f6a;
  --secondary-clr: #d8f8b7;
  --tertiary-clr: #ff9a8c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(248, 228, 228);
  height: 100vh;
}

.container-main {
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
}

.container {
  min-height: 100%;
  max-width: 800px;
  height: 100%;
}

/* NAVBAR STYLES */

.navbar {
  letter-spacing: 5px;
  background-color: var(--secondary-clr) !important;
}

.navbar-brand {
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.25s linear;
}

.navbar-brand:hover {
  color: var(--tertiary-clr) !important;
}

.navbar .navbar-nav li a {
  color: var(--primary-clr) !important;
  transition: all 0.25s linear;
}

.navbar-nav li a:hover {
  color: var(--tertiary-clr) !important;
}

.text-drop {
  transform: translate(3px, 3px);
}

/* MAIN BODY STYLES */

h2 {
  padding-bottom: 10px;
}

h3 {
  margin-top: 20px;
}

a {
  color: var(--primary-clr);
  text-decoration: none;
  transition: color 0.25s linear;
}

a:hover {
  color: var(--tertiary-clr);
}

p {
  margin: 0;
  padding: 16px 0 0 0;
  line-height: 1.5em;
}

label {
  margin: 7px 0 0 0;
}

table {
  margin-top: 15px;
  table-layout: auto;
}

.full-table {
  display: table;
}

.mobile-table {
  display: none;
}

.image {
  border-radius: 10%;
  border: black 1px solid;
  width: 100%;
  max-width: 650px;
  filter: hue-rotate(60deg);
  transition: filter 0.5s linear;
}

.image:hover {
  filter: hue-rotate(300deg);
}

.line-number {
  position: relative;
  left: -22px;
}

.form-control:focus {
  border-color: var(--primary-clr);
  box-shadow: 0 0 0 0.25rem rgba(129, 82, 173, 0.322);
}

.btn {
  box-shadow: 5px 5px 3px #88888875;
  transition: all 0.25s linear;
}

.btn:hover {
  box-shadow: 2px 2px 1px #88888875;
  transform: scale(0.99);
}

.btn-primary {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
  border: black 1px solid;
  margin-top: 15px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  border: black 1px solid;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  margin-top: 100px;
  text-align: center;
  font-size: 1.1rem;
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}

.social {
  color: var(--secondary-clr);
  font-size: 2rem;
  transition: color 0.25s;
}

.social:hover {
  color: var(--tertiary-clr) !important;
}

.correct-answer {
  color: green;
}

.incorrect-answer {
  color: red;
}

@media screen and (max-width: 600px) {
  .mobile-table {
    display: table;
  }
  .full-table {
    display: none;
  }
  .social {
    color: var(--secondary-clr);
    font-size: 42px;
    transition: color 0.25s;
  }
}
